body{
    display: flex;
    justify-content: center;
}

#frame {
    width: 325px;
    height: 500px;
    background-color: black;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn{
    height: 80px;
    font-size: 40px;

}

#output {
    background-color: white;
    margin: 10px;
}