body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Luckiest Guy";
    font-size: 40px;
}

#frame {
    width: 325px;
    height: 414px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

#num-container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap: 20px;
    justify-content: center;
}

#op-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    width: 40px;
}

.btn{
    height: 50px;
    font-size: 40px;
    width: 50px;
    border: 2px solid gray;
}

.numbtn {
    height: 60px;
    width: 60px;
    font-size: 40px;
    border: 2px solid gray;
}

.btn:hover, .numbtn:hover {
    background-color: dimgray;
}

#clearbtn, #veter {
    height: 60px;
    width: 60px;
    font-size: medium;
    font-weight: 700;
    border: 2px solid gray;
}

#clearbtn:hover {
    background-color: darkred;
}

.screen{
    background-color: rgb(238, 209, 209);
    margin: 0px 10px 10px 10px;
    height: 30px;
    font-size: 20px;
    text-align: end;
    padding: 0px 5px 0px 5px;
}

#output {
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
}

#input {
    border-radius: 0px 0px 10px 10px;
}

#oii {
    background-image: url("garlic\ bread.jpg");
}

#clearbtn{
    background-color: red;
    color: white;
}